body{
    font-family: "PT Sans", serif;
    font-size: 16px;
    font-weight: 400;
    color: #898989;
    padding-top: 109px;  
} 
header{
 background-color: #fcdb00;
 padding: 20px 0;
}
.menu ul li a{
    font-size: 22px;
    font-weight: 700;
    color:#010101;
    padding: 0 50px !important;
} 
.menu ul li:last-child a{
    padding-right:0 !important ;
}
.menu ul li a:hover{
    color: white;
} 
.slider{
    background-color:#fcdb00;
    padding-bottom: 100px;
} 
.c-ind{
    bottom: -80px; 
}
.c-ind [data-bs-target] {
    
    width: 15px;
    height: 15px;
    border-radius: 50%;  
}
.carousel-indicators :active{
    opacity: 1;
}
.s_text{
  margin-top: 50px;
}
.s_text h1{
    font-size: 32px;
    font-weight: 700;
    color:#010101;
}
.s_text h2{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 400;
    color:#313841;
}
.s_text p{
    margin-bottom: 35px;
    color: #555555;
}
.s_icon ul li{
    margin-right: 30px !important;
}
.s_icon ul li i{
    font-size: 42px;
    color:#010101;
    transition: .3s;
}
.s_icon ul li i:hover{
    transform: scale(.8);
}
.custom-padding{
    padding: 100px 0 120px;
}
.c-h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color:#010101;
}
.c-p{
    font-size: 20px;
    line-height: 28px;
} 
.f-item{
    margin-top: 70px;
}
.f-icon{
    text-align: center;
} 
.f-icon i{
    margin-top: 2px;
    font-size: 50px;
    color: #010101;
    transition: .3s;
}
.f-icon i:hover{
    transform: scale(.8);
}
.f-text h2{
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 400;
    color: #010101;
}
.f-text p{
   letter-spacing: 1px;
} 
.contact{
    background-color: #010101;
}
.c-form{
    margin: 35px 0 70px;
}
.c-clr{
    color: #fcdb00;
}
.custom-input{
    height: 55px;
    font-family: "PT Sans", serif;
    color: #898989;
    padding: 15px 20px;
}
.custom-button{
    width: 100%;
    height: 55px;
    font-family: "PT Sans", serif;
    font-size: 16px;
    font-weight: 700;
    color: #010101;
    background-color: #fcdb00;
    text-transform: uppercase;
} 
.custom-button:hover{
    background-color: white;
    color: #010101;
} 
.c-icon li{
    margin-right: 35px !important;
}
.c-icon li:last-child{
    margin-right: 0!important;
}
.c-icon li i{
    font-size: 42px;
    color: #fcdb00;
    transition: .3s;
    
}
.c-icon li i:hover{
    color:white;
}
.footer{
    background-color: #010101;
    padding-bottom: 120px;
    color: white;
}
.footer-items{
    text-align: center;
}
.footer-items p a{
    color: white;
    text-decoration: none;
}